@import url('https://fonts.googleapis.com/css2?family=Caveat&display=swap');

*, ::before, ::after {
    box-sizing: border-box;
    margin: 0; /*on retire pour tout les elements qui en ont de base comme les titres*/
    padding: 0;
}

body {
    font-family: 'Caveat', cursive;
    color: #f1f1f1;
    background: linear-gradient(45deg, rgb(59,50,50), rgb(22,28,29));
    height: 100vh;
}

.container {
    width:800px;
    height: 600px;
    background:linear-gradient(120deg, rgb(238, 215, 111), rgb(196, 117, 13), rgb(146, 67, 62));
    display: grid;
    /*4 rangées (haut-bas) et 8 colonnes (gauche-droite) */
    grid-template: 100px 300px 100px 100px / repeat(8, 100px);
    margin:100px auto 0;
    position:relative;
    border:2px solid #f1f1f1;
}

h1 {
    font-family: 'Caveat', cursive;
    /*Aire qui commence à la rangée 1 / colonne 1*/
    /* et qui termine à la rangée 2/ derniere colonne * => un bandeau horizontal*/
    grid-area: 1 / 1 / 2 / -1;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 2px solid #f1f1f1;
}

/*-----------------BLOC INFO ----------------*/

.bloc-logo-info{
    grid-area: 2/ 1 / 3 / -1;
    display:flex;
    justify-content: center;
    align-items: center;
}

.bloc-logo {
    width:50%;
}
.bloc-logo img {
    width: 100%;
    height: auto;
}
.bloc-info {
    width:50%;
}
.bloc-info .temps {
    font-size:40px;
}

.bloc-info .temps::first-letter {
    text-transform: capitalize;
}
.bloc-info .temperature {
    font-size: 60px;
}
.bloc-info .localisation {
    font-family: 'Caveat', cursive;
    font-size: 40px;
    word-wrap: break-word; /*nom de ville trop grans passera a la ligne*/
}


/*-----------------BLOC PREVISIONS HORAIRES / JOURNA ----------------*/

.heure-bloc-prevision {
    grid-area: 3 / 1 / 4 / -1;
}
.jour-prevision-bloc {
    grid-area: 4 / 1 / 5 / -1;
}
.jour-prevision-bloc, .heure-bloc-prevision { /*nouvelle petite grille 1 rangée / 7 colonnes*/
    display: grid;
    grid-template: 100px / repeat(7, 1fr); /*1 fractionnal unit = partage l'espace en 7x 1 unit égales*/
}

.bloc-h, .bloc-j {
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-top:5px solid #f1f1f1;
    font-size: 21px;
}

.bloc-h:not(:last-child), .bloc-j:not(:last-child) { /*les 2 blocs SAUF le dernier enfant =>
     pas besoin de border pour le dernier element car la border globale le fait déjà*/
    border-right: 2px solid #f1f1f1;
}

.blod-h p, .bloc-j p {
    margin:5px;
}

/*   Logo de chargement : */

.overlay-icone-chargement {
    position:absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, rgb(59,50,50), rgb(22,28,29));
    transition: opacity 1.1s ease-out; /*animation plus lente sur la fin*/
    z-index: 1000; /*exageré volontairement pour qu'il soit toujours au dessus du reste*/
}

.overlay-icone-chargement img {
    width: 150px;
    position: absolute;
    /*centrer parfaitement sur le parent : */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.disparition {
    opacity: 0;
}